body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  @font-face {
    font-family: Fonte;
    src: url(../MilkyNice.ttf);
  }
  
  body{
    font-family: Fonte;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    min-height: 100%;
  }
  
  
  
    
  .topnav {
    overflow: hidden;
    background-color: rgba(245, 245, 245, 0.678);
    background-attachment: fixed;
    
  }
  
  .topnav a {
    
    float: left;
    color: #000000;
    text-align: center;
    padding: 2% 13.67%;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .fundo{
    min-height: 100%;
    background-image: url(../fotos/hideri.jpg);
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }

  .login_container{
    width: 20%;
    background-color: rgba(128, 128, 128, 0.377);
    border: rgb(255, 255, 255);
    margin: 30%;
  }
  
