@font-face {
  font-family: Fonte;
  src: url(../MilkyNice.ttf);
}

h1{
  margin: 0% 0% 2% 0%;
}

body{
  font-family: Fonte;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 100%;
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
  }
  
.topnav {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  background-attachment: fixed;
  
}

.topnav a {
  
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 1% 9.9%;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

  
.titulo{
  
  font-size: 40px;
  text-align: center;
  color: rgb(180, 45, 192);
  margin: 15% 10% 20% 10%;
  padding: 2%;
}

/* Primeiro fundo com foto */
.fundo{
    min-height: 95%;
    margin: 0%;
    background-image: url(../fotos/cosplay.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }

/* segundo fundo com foto */
  
/* Separação/ colocar textos */
 .separacaoInicial{
    background-color: white;
    min-height: 100%;
    padding: 3%;
    
  }


.paragrafoInicial{
  text-align: center;
  font-size: 165%;
  padding: 2% 5% 2% 5%;
  border-radius: 5px;
  background-color: rgba(153, 47, 163, 0.644);
}


.Cosplay_tanya{
  background-color: rgba(255, 255, 255, 0.466);
  width: 10%;
   
   
}
.Cosplay_tanya .cosplay1{
  width: 200px;
  float: left;
}
  
.fundoAnime{
  background-image: url(../fotos/chika.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: xx-large;
  min-height: 95%;
  padding: 10%;
  text-align: center;
  display: flex;
}
.Cosplayer{
  width: 400px;
  background-color: rgba(221, 221, 221, 0.24);
}
.Cosplayer2{
  width: 400px;
  background-color: rgba(221, 221, 221, 0.24);
  justify-content: flex-end;
}
