@font-face {
  font-family: Fonte;
  src: url(../MilkyNice.ttf);
}

h1{
  margin: 0% 0% 2% 0%;
}

body{
  font-family: Fonte;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 100%;
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
    scroll-behavior: smooth;
  }
  
.topnav {
  display: flex;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  background-attachment: fixed;
  justify-content: space-around;
}

.topnav a {
  display: flex;
  justify-content: space-around;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 1% 10%;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

  
.titulo{
  font-size: 40px;
  text-align: center;
  color: rgb(180, 45, 192);
  margin: 15% 10% 20% 10%;
  padding: 2%;
}

/* Primeiro fundo com foto */
.fundo{
    min-height: 95%;
    margin: 0%;
    background-image: url(../fotos/cosplay.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }

/* segundo fundo com foto */
.fundoAnime{
  background-image: url(../fotos/chika.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95%;
  text-align: center;
  display:flex;
  flex-direction: column ;
  justify-content: center;
}
/* Separação/ colocar textos */
 .separacao{
    background-color: white;
    min-height: 100%;
    padding: 3%;
   
  }


.paragrafo{
  text-align: center;
  font-size: 165%;
  padding: 2% 5% 2% 5%;
  border-radius: 5px;
  background-color: rgba(153, 47, 163, 0.644);
 
}

* {box-sizing: border-box}

.slide_cosplay, .slide_site {display: none}

img {vertical-align: middle;}

/* Container dos slides*/
.slideshow-container {

  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Botão de Proximo e anterior das fotos*/
.anterior, .proximo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Coloca o botão proximo/anterior nos lados das fotos*/
.proximo {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.anterior {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Botão fica cinza ao passar o mouse encima */
.anterior:hover, .proximo:hover {
  background-color: #f1f1f1;
  color: black;
}
.slide_site{
  margin-top: 5%;
  background-color: rgb(255, 255, 255);
}
.slide_cosplay img{
  width: 75%;
}
.slide_site img{
  width: 75%;
}




.text {
  color: #4aaf31;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.titulo_anime{
  display: flex;
  justify-content: center;
  
  background-color:  rgb(153, 47, 163);
  font-size: 50px;
}
.galeria_container{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  background-color:rgba(196, 81, 181, 0);
}
.galeria {
  border-radius: 2%;
  background-color:rgb(196, 81, 180);
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 25%;
  flex-direction: row;
  justify-content: space-around;
}

.galeria:hover {
  border-radius: 2%;
  border: 3px solid rgb(255, 255, 255);

}

.galeria img {
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 2%;
}

.descricao {
  display: flex;
  padding: 15px;
  text-align: center;
}

.sobre{
  background-color: rgb(255, 255, 255);
  border-radius: 2%;
}