
body{
  background-image: url();
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 100%;
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
  }
  
.topnav {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 135px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

  
.titulo{
  text-align: center;
}

  .parallax {
    background-color: rgba(187, 69, 69, 0.192);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    min-height: 80%;
    box-shadow: 2px; 
  }



.fundo{
    min-height: 95%;
    margin: 0%;
    background-image: url(1107686.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }
 .separacao{
    background-color: rgb(224, 109, 109);
    min-height: 100%;
  }
  .footer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.74);
    color: white;
    text-align: center;
    padding: 10px;
   
 }


  

