@font-face {
  font-family: Fonte;
  src: url(MilkyNice.ttf);
}

div {
  font-family: myFirstFont;
}
body{
  background-image: url();
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 100%;
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
  }
  
.topnav {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0);
  background-attachment: fixed;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 135px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

  
.titulo{
  font-family: Fonte;
  font-size: 40px;
  text-align: center;
  color: rgb(180, 45, 192);
  margin: 15% 10% 20% 10%;
  padding: 2%;
}





.fundo{
    min-height: 95%;
    margin: 0%;
    background-image: url(cosplay.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }
  .fundoAnime{
    background-image: url(chika.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    min-height: 95%;
  }
 .separacao{
    background-color: rgba(255, 255, 255, 0);
    min-height: 100%;

  }
 
.paragrafoInicial{
  font-family: Fonte;
 
  font-size: 25px;
  box-shadow: 2px 2px 2px;
  padding: 5%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
}

  

