
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: 0 0 5px rgb(228, 228, 228); 
  border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70); 

}

::-webkit-scrollbar-thumb:hover {
  background: #000000fb; 
}
*{
  font-family: 'New Rocker', cursive;
font-family: 'Sriracha', cursive;
}
/* conteudo da pagina */
body{
  background-image: url(primeiro_fundo.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  min-height: 1080px;
}


html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
  }

  .header {
    background-color: #ffffff70;
    padding: 0px;
    text-align: left;
     margin: 1% 40% 1% 40%;
     border-radius: 25px;
     padding:0% 6% 0% 4%;

  }
  .client{
    float: right;
  }
  /* barra de navegação */
  .sidenav {
    opacity: 1;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(vinil.jpg!d);
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: #55e7f1;
    font-size: 40px;
    color: rgb(0, 0, 0);
    display: block;
    transition: 0.3s;
    text-align: center;
 
  }
  
  .sidenav a:hover {
    color: #cf0000;
  }
  /* botao da navegação */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 26px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    color: rgb(236, 236, 236);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 50px;}
  }
  
  

/* parallax */
  .parallax {
    background-color: rgba(0, 0, 0, 0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: xx-large;
    min-height: 60px;
  }
  .texto_1{
    padding: 25px 100px 75px 100px;
    background-color: azure;
    margin: 3px 300px 550px 300px;
    border:50px;
    border-radius: 30px;
    text-align: center;
  }

.separador{
  background-color: rgb(0, 0, 0);
    min-height: 60px;
    padding: 10px;
color: rgb(248, 0, 0);
text-align: center;
}
  

.img-3 {
  background-image: url(baixo.jpeg);
  background-attachment: fixed;
  min-height: 200vh;
}
.texto_3{
  padding: 100px;
  color: rgb(241, 241, 241);
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 100px;
}
.titulo{
  margin: 0px;
}


.img-5 {
  background-image: url('segundo_fundo.jpg!d');
  background-attachment: fixed;
  min-height: 1080px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.texto_5{
  padding: 100px;
  color: rgb(241, 241, 241);
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 100px;
}


.img-7 {
  background-image: url('guitarra_fundo.jpg');
  background-attachment: fixed;
  min-height: 200vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
.texto_7{
  padding: 10px;
  color: brown;
}

/* galeria */
div.gallery {
  margin: 100px;
  padding: 2px;
  border: 1px solid rgba(204, 204, 204, 0.082);
  float: left;
  width: 33%;
  border-radius: 5px;
  background-color: #474e5d5e;
}

div.gallery:hover {
  border: 1px solid rgba(119, 119, 119, 0);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
  color: #fefefe;
}
.box{
  background-color: rgba(204, 204, 204, 0);
  padding: 30px 200px 100px 200px;
}



.container {
  padding: 16px;
}

/* tela de sugestões */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}
input[type=text],input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}
