body{
    background-image: url(fundo_musica.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 
}
.sidenav {
    opacity: 1;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #ffff00 -33%, #ff66ff 86%);
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: #55e7f1;
    font-size: 50px;
    color: rgb(106, 108, 236);
    display: block;
    transition: 0.3s;
    font-family: Impact, fantasy;
  }
  
  .sidenav a:hover {
    color: #cf0000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
 